<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The American Opportunity Tax Credit</h2>
                    <h3 class="section-subheading text-muted">How it works</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>$2,500</h4>
                                    <h4 class="subheading">How it works</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The American Opportunity Tax Credit is a partially refundable tax credit of up to $2,500 for course materials, textbooks, and tuition. It fully offsets the first $2,000 a student incurs in educational expenses in a year, and offsets a quarter of the next $2,000. Applicants for the tax credit fill out form 8863.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1,000,000 Students</h4>
                                    <h4 class="subheading">“The college dropout rate would plummet” – President Bill Clinton</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Based on a study in the National Tax Journal, the American Opportunity tax credit should have increased college attendance by over one million students. Instead, college attendance has remained flat since the credit came into effect. If we can inform people about the tax credit’s availability, we should see enrollment gains of over 1 million students.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>9 Campuses</h4>
                                    <h4 class="subheading">Our pilot program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are launching our pilot program at the 9 undergraduate University of California campuses in 2015. From there, we will begin forming chapters across the country, and see how effectively we can scale up.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>82%</h4>
                                    <h4 class="subheading">A universally beloved program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The American Opportunity Tax credit is widely popular, with 82% of Americans supporting its extension according to a survey conducted by the widely respected polling firm Penn, Schoen, and Berland.  If we can increase awareness and usage of the AOTC in a repeatable way, we can increase its chance of being renewed in 2017.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Spread
                                    <br>the
                                    <br>word!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>